/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 :root {
    --black: #393939;
    --off-white: #EDEDED;
    --dark-gray: #666;
    --medium-gray: #6c757d;
    --light-gray: #c2c2c2;
    --blue: #237CBE;
    --light-blue: lighten(--blue, 40%);
    --orange: #E8890C;
    --yellow: #ffc107;
    --light-yellow: #FFC;
    --red: #dc3545;
 }


 header {
    background-color: var(--blue);
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    nav {
        flex-wrap: nowrap;
        justify-content: flex-start;
        font-size: 1.1rem;
        letter-spacing:1px;
        img {
            height: 50px;
            margin-right: 0.5rem;
        }
        a {
            color: var(--black);
            text-decoration: none;
        }
    }
}

ul {
    list-style-type: none;
    letter-spacing: 1px;
    li {
        font-size: 1.1rem;
        margin-right: 5px;
        a {
            padding-bottom: 1px;
            margin-top: 1rem;
        }
        a:hover:not(.button), a.active {
            color: var(--off-white);
            border-bottom: 1px;
            text-decoration: underline;
        }
    }
}  

.container {
    max-width: 1140px;
}

.movie {
    margin-bottom: 1.5rem;
    padding-bottom: 1em;
    border-bottom: 1px dotted var(--light-gray);
}

.center-image {
    text-align: center;
}

.movie {
    img {
        width: 100px;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
    }
    h3 {
        font-size: 1.1rem;
        color: var(--medium-gray);
        font-weight: 400;
    }
    p {
        margin-top: 1.1rem;
    }
}

.movie-details {
    img {
        width: 150px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.35rem;
        color: var(--medium-gray);
    }
    h3 {
        margin-top: 1.5rem;
        font-size: 1.25rem;
        color: var(--medium-gray);
        font-weight: 300;
    
    }
    table {
		td {
			padding-top: 0.35rem;
			padding-bottom: 0.35rem;
		}
		th {
			padding-right: 1rem;
		}
	}
}

.admin {
	text-align: center;
	margin: 3rem 0;
	padding-top: 2rem;
	border-top: 1px dashed var(--light-gray);

	&.no-rule {
		border-top: none;
		padding-top: 0;
	}

	a {
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

footer {
	background: var(--black);
    color: var(--light-gray);
	text-align: center;
	margin-top: 3rem;
    padding-top: 2rem;
	padding-bottom: 2rem;
}

/*  Forms */

form:not([class="button_to"]) {
	max-width: 400px;
	margin-top: 1.5rem;

  label {
    font-size: 1.1rem;
		font-weight: 600;
		display: block;
  }

	input:not([type="checkbox"]),
	textarea,
	select:not(.date) {
		margin-bottom: 0.75rem;
		width: 100%;
	}

	select.date {
		display: inline-block;
		margin-bottom: 0.75rem;
	}


	input[type="submit"] {
		margin-top: 1.5rem;
	}

	input[type="checkbox"] {
    	width: 20px;
	    height: 20px;
	}

	input[type="checkbox"] + label {
		padding-left: 0.5rem;
		margin-bottom: 0.5rem;
	}

	input[type="radio"] {
    	width: 20px;
	    height: 20px;
	}

	input[type="radio"] + label {
		margin-bottom: 0.6rem;
		font-weight: 400;
	}


	.checkboxes {
		margin-top: 1.5rem;
	}

	div.field_with_errors {
    display: inline;
    label {
      color: var(--red);
    }
    input, textarea, select {
      background: var(--light-yellow);
    }
  }
}

.alert {
    text-align: center;
}